 
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
<script src="~/JS/ClientsIndex.js"></script>
}


<div class="row main-row">
    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="usertable">
        <thead>
            <tr>
                <th>שם </th>
                <th>שם אמייל</th>
                <th>טלפון</th>
                <th>תז</th>
                <th>מין</th>
                <th>גובה</th>
                <th>משקל</th>
                <th>אחוז שומן</th>
                <th>מחיר</th>
                <th></th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>