body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    border: 1px solid red;
}

.error_msg {
    color: red;
}


.edit-user-full .user-form-button,.edit-user-full .user-form-button {
    float: right;
}



#userName-navbar {
    margin-top: 10px !important;
}

.main-row {
    margin-top: 15px;
    height: 90%;
}

 html, body {
        height: 100%;
        margin: 0;
    }
    .container {
        height: 100%;
    }