
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-rtl.css">
    <link href="~/Content/login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body style="direction:rtl">
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">כניסה</h2>
            <label for="inputEmail" class="sr-only">כתובת אמייל</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="כתובת אמייל" required="" autofocus="">
            <label for="inputPassword" class="sr-only">סיסמה</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="סיסמה" required="">
           
            <button class="btn btn-lg btn-primary btn-block" id="login" type="button">כניסה</button>
            <button class="btn btn-lg btn-success btn-block" id="register" type="button">הרשם</button>
        </form>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
               
            </div>

        </div>
    </div>
    <!-- Modal -->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/js.cookie.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/JS/Common.js"></script>

    <script src="~/JS/Login.js"></script>

    <script type="text/javascript">
        common.initLoadingAnimation();
    </script>

</body>
</html>
