 @section scripts
{
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/JS/testing/testingFile.js"></script>
}

 
<div>
    <form action="@Helpers.BaseApiUrl()/Files/Upload?id=@ViewBag.id" id="testForm" method="post" enctype="multipart/form-data">
        <input type="file" name="logo" />
        <button type="submit" class="btn btn-success" >submit</button>
    </form>
</div>



<img src="@Helpers.BaseApiUrl()/Files/Logo/1" />