@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
<script src="~/JS/HomeIndex.js"></script>
}


<div class="row">
    <table class="table" id="usertable">
        <thead>
            <tr>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>שם אמייל</th>
                <th>כתובת</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>