@{ Layout=null}

<form role="form" id="userform">
    <div class="form-group">
        <label for="email">כתובת אמייל :</label>
        <input type="email" class="form-control email-field required" name="Email">
    </div>
    <div class="form-group">
        <label for="pwd">סיסמה:</label>
        <input type="password" class="form-control required" name="Password" id="Password">
    </div>
    <div class="form-group">
        <label for="pwd">סיסמה:</label>
        <input type="password" class="form-control" name="PasswordCnfrm" id="PasswordCnfrm">
    </div>

    <div class="form-group">
        <label for="pwd">שם פרטי:</label>
        <input type="text" class="form-control  required" name="FirstName">
    </div>
    <div class="form-group">
        <label for="pwd">שם משפחה:</label>
        <input type="text" class="form-control  required" name="LastName">
    </div>

    <div class="form-group">
        <label for="pwd">מספר עוסק זעיר/מורשה:</label>
        <input type="text" class="form-control  required" name="BusinessId">
    </div>
    <div class="form-group">
        <label for="pwd">כתובת:</label>
        <input type="text" class="form-control required" name="Address">
    </div>
</form>
